body{
  background-color: #CDCDCD;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='800' height='800' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='88' y1='88' x2='0' y2='0'%3E%3Cstop offset='0' stop-color='%23005092'/%3E%3Cstop offset='1' stop-color='%23007cc4'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='75' y1='76' x2='168' y2='160'%3E%3Cstop offset='0' stop-color='%23868686'/%3E%3Cstop offset='0.09' stop-color='%23ababab'/%3E%3Cstop offset='0.18' stop-color='%23c4c4c4'/%3E%3Cstop offset='0.31' stop-color='%23d7d7d7'/%3E%3Cstop offset='0.44' stop-color='%23e5e5e5'/%3E%3Cstop offset='0.59' stop-color='%23f1f1f1'/%3E%3Cstop offset='0.75' stop-color='%23f9f9f9'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/linearGradient%3E%3Cfilter id='c' x='0' y='0' width='200%25' height='200%25'%3E%3CfeGaussianBlur in='SourceGraphic' stdDeviation='12' /%3E%3C/filter%3E%3C/defs%3E%3Cpolygon fill='url(%23a)' points='0 174 0 0 174 0'/%3E%3Cpath fill='%23000' fill-opacity='.5' filter='url(%23c)' d='M121.8 174C59.2 153.1 0 174 0 174s63.5-73.8 87-94c24.4-20.9 87-80 87-80S107.9 104.4 121.8 174z'/%3E%3Cpath fill='url(%23b)' d='M142.7 142.7C59.2 142.7 0 174 0 174s42-66.3 74.9-99.3S174 0 174 0S142.7 62.6 142.7 142.7z'/%3E%3C/svg%3E");
background-attachment: fixed;
background-repeat: no-repeat;
background-position: top left;
}
.app{
    max-width: 1200px;
    color: rgb(52, 16, 216);
    width: 100%;
    margin: 50px auto;
    box-shadow: 0 0 5px #ccc;
    
  }
  .details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px 0;
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    
  }
  .details .big-img{
    max-width: 400px;
    min-width: 290px;
    overflow: hidden;
    margin: 25px;
    background-color: rgba(0,0,0,0);
    
  }


  .img1 {
    margin-left: auto;
    margin-right: auto;
    display: block;
  width: 50%;
    
  }

  .head {
    display: flex;
    justify-content: 'center';
    color: rgb(23, 56, 199);
  }

  .Create {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 150px;
    height: 150px;
  }
  
  .home-page{
    display: flex;
  }
  .home-desc{
    padding: 25px;
    color: aliceblue;
    font-size: 20px;
    min-width: 40%;
  }
  .home-grid{
    display: flex;
    max-width: 60%;
    margin-top: 150px;
  }
  .home-card{
    margin: 20px;
    padding: 20px;
    width: 500px;
    min-height: 200px;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
    background-color: aliceblue;
  }
  .home-title{
    margin-bottom: 20px;
    font-size: larger;
    font-weight: bold;
  }


  .table-body{
    background: rgb(13,255,223);
    background: linear-gradient(90deg, rgba(13,255,223,0.5441526952577906) 0%, rgba(20,224,230,1) 18%, rgba(46,231,74,1) 55%, rgba(0,212,255,1) 100%);
  }

  